Data/Bloomberg/SVB Day-Ahead Historical.xlsx
Data/Bloomberg/SVB Forward Curve.xlsx
Data/Bloomberg/THE Day-Ahead Historical.xlsx
Data/Bloomberg/THE Historical Forward Curve.xlsx
Data/Bloomberg/TTF Day-ahead Historical.xlsx
Data/Bloomberg/TTF Forward Curve.xlsx
Data/France/Prices_2014
Data/France/Prices_2015
Data/France/Prices_2016
Data/Germany/.DS_Store
Data/Germany/combined.csv
Data/Germany/Load/Load_2015
Data/Germany/Load/Load_2016
Data/Germany/Load/Load_2017
Data/Germany/Load/Load_2018
Data/Germany/Load/Load_2019
Data/Germany/Load/Load_2020
Data/Germany/Load/Load_2021
Data/Germany/Load/Load_2022
Data/Germany/Price/Prices_2015
Data/Germany/Price/Prices_2016
Data/Germany/Price/Prices_2017
Data/Germany/Price/Prices_2018
Data/Germany/Price/Prices_2018a
Data/Germany/Price/Prices_2019
Data/Germany/Price/Prices_2020
Data/Germany/Price/Prices_2021
Data/Germany/Price/Prices_2022
Data/Netherlands/.DS_Store
Data/Netherlands/combined.csv
Data/Netherlands/Load/Load_2015
Data/Netherlands/Load/Load_2016
Data/Netherlands/Load/Load_2017
Data/Netherlands/Load/Load_2018
Data/Netherlands/Load/Load_2019
Data/Netherlands/Load/Load_2020
Data/Netherlands/Load/Load_2021
Data/Netherlands/Load/Load_2022
Data/Netherlands/Price/Prices_2015
Data/Netherlands/Price/Prices_2016
Data/Netherlands/Price/Prices_2017
Data/Netherlands/Price/Prices_2018
Data/Netherlands/Price/Prices_2019
Data/Netherlands/Price/Prices_2020
Data/Netherlands/Price/Prices_2021
Data/Netherlands/Price/Prices_2022
Data/Spain/.DS_Store
Data/Spain/combined_data.csv
Data/Spain/combined.csv
Data/Spain/Load/Load_2015
Data/Spain/Load/Load_2016
Data/Spain/Load/Load_2017
Data/Spain/Load/Load_2018
Data/Spain/Load/Load_2019
Data/Spain/Load/Load_2020
Data/Spain/Load/Load_2021
Data/Spain/Load/Load_2022
Data/Spain/Price/Prices_2014
Data/Spain/Price/Prices_2015
Data/Spain/Price/Prices_2016
Data/Spain/Price/Prices_2017
Data/Spain/Price/Prices_2018
Data/Spain/Price/Prices_2019
Data/Spain/Price/Prices_2020
Data/Spain/Price/Prices_2021
Data/Spain/Price/Prices_2022
Data/*
Dutch_Elec
.gitignore
Germany_Elec
Spain_Elec
.gitignore
